[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target network.target docker_server.service

[Service]
Type=simple
User=[USER]
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser --kiosk --start-maximized --noerrdialogs --hide-crash-restore-bubble --disable-translate --disable-pinch --disable-infobars --disable-features=TranslateUI --disable-touch-drag-drop --disable-pull-to-refresh-effect --no-first-run --fast --fast-start --incognito http://localhost:9000/
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target